:root {
    /*Color*/
    --color-kt-green: #006748;
    --color-kt-light-green: #00ac7b;
    --color-kt-gold: #b58500;
    --color-kt-black: #131517;
    --color-kt-white: #f5f5f5;
    --color-kt-gray: #76896e;
}
 body {
    margin:0px;
 }
 .header {
    background-color: var(--color-kt-white);
    color: var(--color-kt-black);
    width: calc(100% - 60px);
    float: left;
    padding: 30px;
    text-align: center;
}

.header .logo img {
    width: 100%;
    max-width: 300px;
}

.header .navbar .nav-menu {
    list-style: none;
    padding: 0px;
}

.header .navbar .nav-menu .nav-item {
    display: inline;
    margin: 0px 10px;
}

.header .navbar .nav-menu .nav-item .nav-link {
    text-decoration: none;
    color: var(--color-kt-white);
    background-color: var(--color-kt-green);
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px var(--color-kt-gray);
}

.header .navbar .nav-menu .nav-item .nav-link:hover {
    background-color: var(--color-kt-gold);
}

.slider {
    width: 100%;
    float: left;
}

.slider img {
    width: 100%;
    height: 350px;
}

.content {
    width: calc(100% - 100px);
    padding: 0px 50px;
    float: left;
}

.content .about,
.content .about .section-content,
.content .social-media,
.content .social-media .section-content {
    width: 100%;
    float: left;
}

.content .about .section-head{
    padding:70px;
    margin-top: 3px;
   
}

.content .about .section-head p{
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-kt-black);
}

.content .about .section-content{
    background-color: var(--color-kt-white); /* background color'ı 100% genişlikte yapamadım. */
    padding:30px;
    margin-left:0px;
    width: 100%;
}



.harita{
    padding-left:280px;

 }
 

.social-media{
    background-color: var(--color-kt-light-green);
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.social-media .social-media-content .soc-med-table{
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    padding: 70px;
    margin-top:50px;
    border:2px solid var(--color-kt-white);
}

.social-media .social-media-content .soc-med-table tr,
.social-media .social-media-content .soc-med-table td{
    border:2px solid var(--color-kt-white);
    height: 30px;
    text-align: center;
    padding:50px;
}

.social-media .social-media-content a{
    text-decoration: none;
    color:var(--color-kt-white);
}
.social-media .social-media-content a:hover{
    color:var(--color-kt-gold);
}

input{
    width:200px;
    height:50px;
    background-color:var(--color-kt-white);
    border-radius: 3px;
    border:0px;
    margin-left:600px;
    text-align: center;
}

.footer {
    width: 100%;
    float: left;
    background-color: var(--color-kt-black);
    color: var(--color-kt-white);
   
}

.footer .footer-about,
.footer .footer-sitemap,
.footer .footer-social-media,
.footer .footer-contact {
    width: calc(25% - 40px);
    padding: 20px;
    float: left;
    min-height: 180px;
}

.footer .footer-about img {
    width: 75%;
    max-width: 300px;
}

.footer .footer-about h4 {
    margin-top: 10px;
    color: gray;
}

.footer .footer-about p {
    font-size: 12px;
    color: gray;
}

.footer .footer-sitemap .sitemap-menu,
.footer .footer-social-media .social-media-menu {
    list-style: none;
    padding: 0px;
}

.footer .footer-sitemap .sitemap-menu .menu-item,
.footer .footer-social-media .social-media-menu .menu-item {
    margin-bottom: 5px;
}

.footer .footer-sitemap .sitemap-menu .menu-item a,
.footer .footer-social-media .social-media-menu .menu-item a {
    text-decoration: none;
    color: var(--color-kt-white);
}

.footer .footer-sitemap .sitemap-menu .menu-item a:hover,
.footer .footer-social-media .social-media-menu .menu-item a:hover {
    color: var(--color-kt-gold);
}

.footer .footer-contact table {
    text-align: left;
    font-size: 12px;
}

.footer .footer-contact table tr th,
.footer .footer-contact table tr td:first-of-type {
    color: var(--color-kt-gold);
}

.footer h3 {
    color: var(--color-kt-light-green);
}






















